@use "mixin" as m;
.company {
    background: var(--charcoal);
    min-height: 80vh;
    color: var(--white);
    &__visual {
        text-align: center;
        transform: translateY(10vh);
        @include m.mq(tb) {
            transform: translateY(0);
        }
    }
    &__title {
        font-size: 32px;
        max-width: 960px;
        margin: 0 auto;
        opacity: 0;
        @include m.mq(tb) {
            font-size: 64px;
        }
        @include m.mq(pc) {
            font-size: 112px;
        }
        span {
            padding: 0 2%;
        }
    }
    &__text {
        opacity: 0;
        font-size: 16px;
        @include m.mq(tb) {
            font-size: 32px;
        }
        @include m.mq(pc) {
            font-size: 48px;
        }
        &::before {
            display: block;
            content: "";
            width: 100%;
            height: 1px;
            margin: 20px 0;
            background: var(--white);
        }
    }
    &__organization {
        background: var(--lightGray);
        color: var(--black);
    }
    &__agent {
        background: var(--lightGray);
        color: var(--black);
    }
    &__alliance {
        background: var(--charcoal);
        color: var(--white);
    }
    &__global {
        background: var(--lightGray);
        color: var(--black);
    }
    &__about {
        background: var(--charcoal);
        color: var(--white);
    }
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 20vh 0;
        @include m.mq(tb) {
            padding: 20vh 50px;
        }
        .companySection {
            &__title {
                margin-bottom: 50px;
                -ms-writing-mode: tb-rl;
                writing-mode: vertical-rl;
                font-size: 50px;
                font-weight: bold;
                @include m.mq(tb) {
                    font-size: 100px;
                    margin-bottom: 100px;
                }
            }
            &__image {
                flex: 1 1 auto;
                width: 60%;
                max-width: 1290px;
                margin-bottom: 50px;
                opacity: 0;
                @include m.mq(tb) {
                    margin-bottom: 100px;
                }
            }
            &__heading {
                width: 80%;
                margin: 0 auto 20px;
                opacity: 0;
                font-size: 16px;
                font-weight: bold;
                @include m.mq(tb) {
                    width: 100%;
                    padding-left: 20%;
                    font-size: 32px;
                }
            }
            &__text {
                width: 80%;
                margin: auto;
                opacity: 0;
                @include m.mq(tb) {
                    width: 100%;
                    padding-left: 20%;
                    font-size: 22px;
                }
            }
            &__list {
                width: 70%;
                @include m.mq(tb) {
                    font-size: 16px;
                    width: 60%;
                    margin-left: auto;
                }
                dl {
                    font-family: 'Noto Sans JP', sans-serif;
                    @include m.mq(tb) {
                        display: flex;
                        flex-wrap: wrap;
                    }
                    dt {
                        width: 150px;
                        margin-bottom: 5px;
                        @include m.mq(tb) {
                            margin-bottom: 20px;
                        }
                    }
                    dd {
                        margin-bottom: 30px;
                        @include m.mq(tb) {
                            width: calc(100% - 150px);
                            margin-bottom: 0;
                        }
                        span {
                            padding-left: 10px;
                        }
                    }
                }
            }
        }
    }
    .displayed{
        animation: fadeUp 1s forwards;
    }
}